<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @chef, partial: "card", as: :chef %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "chefs/chef_categories" %>
  </div>
</div>
  <!-- Show Page Customization end -->
