<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Category Recipes
  </div>

  <ul class="list-group list-group-flush">
    <% @category.category_recipes.each do |recipe| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/recipes/<%= recipe.id %>">
          <%= recipe %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
