<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Recipes

    <a data-toggle="collapse" href="#category_recipes_new_form">
      Add recipe
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @category.recipes.each do |recipe| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to recipe, recipe %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to recipe, method: :delete, data: { confirm: "Do you really want to delete this recipe" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="category_recipes_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "categories/category_recipes_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
