<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @category, partial: "card", as: :category %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "categories/category_recipes" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "categories/category_matches" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "categories/category_category_recipes" %>
  </div>
</div>
